.wall {
    background-color: blue;
}
.start{
    background-color: green;
}
.end{
    background-color: red;
}
.cell {
    height: 40px;
    width: 40px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;

}

#player {
    background-color: orangered;
    height: 15px;
    width: 15px;
    position: absolute;
}

.colElement {
    display: flex;
    flex-direction: row;
}